@font-face {
    font-family: dm-sans;
    src: url('/fonts/DMSans.ttf');
}

html {
  font-family: dm-sans;
}

article.article-link--card {
  border-width: 3px;
}
article.article-link--card#hover {
  border-width: 8px;
}

h1.mb-2 {
  text-shadow: 0px 2px 16px #000000aa;
}


a[href][role="button"] {
  background: #0077b3;
}

p a {
  color: #00aaff;
}

p a:hover {
  color: #00ffff;
}

article details.mt-2 * {
  background: #004467;
}

article details.mt-2 a:hover {
  color: white;
}
